
@media (min-width: 769px) {
 
   
     
    .header{
        display: flex;
        margin-top: 40px;
        height: 80px;
        margin-left: 50px;
        
    }

    .linhaPersonalizada2{
        
        background-color: rgb(151, 151, 151);
        border: none; 
        margin-right: 110px;
    
        
    }
    
    .caixaCabeca{
    
        margin-left: 150px;
        display: flex;
        width: 1100px;
        height: 96px;
        top: 40px;
        left: 55px;
        color: #FFFFFF;  
        
    }
    
    .imagem{
    
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-right: 50px;
        
    }
    
    .linhaPersonalizada {
    
        background-color: rgb(151, 151, 151);
        border: none;
        height: 0.08px;
        width: 100%;    
        margin-top: 40px;
    
    }
    
    

    .linhaPersonalizada2{
        
        background-color: rgb(151, 151, 151);
        border: none;
        height: 0.05px;
        width: 100%;    
        margin-top: 11px;
        
    }
    
    .caixaBlur{
        
        display: flex;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(30px);
        font-size: 20px;
        color: #FFFFFF;
        align-items: center;  
        width: 2700px;
        height: 80px;
        border: none;    
         
    }
    
    .alinhamentoTopo{
    
        display: flex;
        margin-top: 40px;
        font-family: 'Barlow Condensed1' , sans-serif;
    
    }
    
    .numeral0{
        
        letter-spacing: 2px;
        display: flex;
        margin-top: 6.7px;
        margin-right: 5px;
        font-size: 17px;
        font-family: 'Barlow Condensed1' , sans-serif;
        
    }
    
    .letra0{
    
        letter-spacing: 2px;
        display: flex;
        margin-right: 50px;
        margin-top: 6.7px;
        margin-left: 5px;
        font-size: 17px;
        font-family: 'Barlow Condensed2' , sans-serif;    
    
    }

    .alinhamento{
        
        cursor: pointer;
        display: flex;
    
    }
    .alin{
    
        margin-left: 4px ;
        margin-top: 20px;
    }
    
    
    .alin4{
    
        margin-left: 4px ;
        margin-top: 20px;
        margin-right: 170px;
     
    }
    
    .barra{
        
        background-color: #FFFFFF;    
        height:2px;
        width: 57%;
        margin-top: 30px;
        visibility: hidden;
    
    }
    
    .barra1{
    
        background-color: #FFFFFF;    
        height:2px;
        width: 70%;
        margin-top: 30px;
        visibility: hidden;
    
    }

    .alinhaCrew0{
        display: flex;
        font-size: 32px;
        margin-top: 20px;
        margin-left: 150px;
        
    }

    .alinhaCrew1{
        display: flex;
        font-family: 'Barlow Condensed2' , sans-serif;
        letter-spacing: 2px;
        
    }


    .textCrew{
        color: #D0D6F9;
        font-family: 'Barlow' , sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 27px;
        
    }

    .centroCrew{
        margin-top: 100px;
        margin-bottom: 30px;
        line-height: 60px;
    }

    .tituloCrew{

        font-family: 'Bellefair' , sans-serif;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 1px;
    }

    .tituloCrew0{

        font-family: 'Barlow Condensed1' , sans-serif;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 5px;
        margin-right: 20px;
        font-size: 30px;
    }
    .nomeCrew{
        color: #FFFFFF;
        font-family: 'Bellefair' , sans-serif;
        font-size: 50px;
        letter-spacing: 2px;
    }

    .nomeCrew0{
        color: #FFFFFF;
        font-family: 'Barlow Condensed2' , sans-serif;
        font-size: 30px;
        
    }

    .espacoCrew{
        width: 100px;
        margin-right: 55px;
    }

    .botaoCrew{
        width: 0.8px;
        height: 17px;
        opacity: 0.1;

    
        /* background-color: rgba(255, 255, 255, 0.5); */
        cursor: pointer;
        margin-top: 100px;
        margin: 7px;
        
        
        border-radius: 50%;
        
        border:  solid transparent;
    }

    .botaoCrewClick{

        background-color: #FFFFFF;
        width: 0.8px;
        height: 17px;
        

        cursor: pointer;
        margin-top: 100px;
        margin: 7px;
        border-radius: 50%;        
        border:  solid transparent;
    }

    .conjuntoBotao{
        margin-top: 2.5vw;
    }

    .conjuntoBotao1{
        margin-top: 93px;
    }

    .imagemCrew0{
        margin-top: 9%;
        
        margin-left: 100px;

        width: 69%;
        
        
    }

    .imagemCrew1{

        margin-top: 9%;
        margin-left: 10px;
        width: 94%;

    }

    .imagemCrew2{

        margin-top: 80px;
            
        width: 85%;
            
    }

    .imagemCrew3{

        margin-top: 73px;
        margin-left: 85px;
        width: 75%;
        
    }   



    .aliCrew{
        margin-top: 40px;
        margin-left: 12px;
    }

}

@media (max-width: 768px) {


    


}
